{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}	
	<div class="row AdminRow2">
    	<div class="col-12 offset-md-3 col-md-6 AdminRow1 TitlePage">
    		<h1>Vous avez oublié votre mot de passe ?</h1>
    	</div>
	</div>
	<div class="row">
			<div class="col-12 offset-md-3 col-md-6">
            	{{ form_start(form) }}
            		<h3>{{ form_label(form.email, 'Entrez votre email') }} : </h3>
            		
            		{{ form_widget(form.email, {'attr' : {'class' : 'form-control', 'placeholder':'Email', 'autofocus' : true}}) }}
                    <button class="btn btn-lg btn-primary" type="submit">Envoyer le mail</button>
            	{{ form_end(form) }}
        	</div>
	</div>
{% endblock %}