{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}	
	<h1>Reset password</h1>
	{{ form_start(form) }}
		{{ form_row(form) }}
		        <button class="btn btn-lg btn-primary" type="submit">
                  Validern
        </button>
	{{ form_end(form) }}
{% endblock %}