{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
	<div class="row BorderJaune">
		<div class="col-12">
     		<script src="{{ asset('bootstrap/Js/jquery.js') }}"></script>
     		<script src="Js/Ajaxreceive.js"></script>

    		<div class="col-12 offset-md-4 col-md-4 BorderRouge">
    			<table border=1>
    				<tr><td><div id=btCalMonth>Mois</div></td>
    					<td><div id=btCalWeek>Semaines</div></td>
    				</tr>
    			</table>
    			<div id=tamer></div> 	
    			<script src="{{ asset('../Js/calendarWeek.js') }}"></script>
    			<script src="{{ asset('../Js/calendar.js') }}"></script>	
    				
    		</div>

		</div>
	</div>
{% endblock %} 
