{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
	<link rel="stylesheet" type="text/css" href="../css/calendarStyle.css" />
	<div class="row BorderJaune">
		<div class="col-12">
     		<script src="{{ asset('bootstrap/Js/jquery.js') }}"></script>
     		<script src="Js/Ajaxreceive.js"></script>

			<script src="{{ asset('../Js/calendarFunctions.js') }}"></script>
     		     		

    		<div class="col-12 offset-md-4 col-md-8 BorderRouge">
    			<table>
    			<tr><td>
    			  	<span class=selCal id=btCalMonth> Mois </span>
    				<span class=selCal id=btCalWeek>  Semaines </span>
    				<span id=calPlace></span>
    				<div> 
    				</td>
    				<td>
    				<span class=\"eventStyle\" id=EventPlace></span>
    				</td>
    			</tr>	
    			</table>
    			<span class=\"eventStyle\" id=EventPlace2></span>	
    			<script src="{{ asset('../Js/calendarWeek.js') }}"></script>
				<script src="{{ asset('../Js/calendar.js') }}"></script>
    		</div>
    	
   			<script>	
    			document.getElementById("calPlace").innerHTML = calendarWeek.writeHTML(); 	//Ecriture d'une calendirer
    			calendarWeek.chWeek();
    			affichageEvent(calendarWeek.eventAffiche);
    		</script>		
		</div>

	</div>
	
{% endblock %} 
