/* - - - - - - - - - -BALISES HTML- - - - - - - - - - - */
a:hover
{
	text-decoration: none !important;
}
body
{
	margin:0;
	padding:0; 
	background:#ECECEC !important;
}
h1
{
	color:#004257;
}
h2
{
	font-size:22px !important;
	color:#007BA4;
}
h3
{
	font-size:22px !important;	
	color:#007BA4;
}
h4
{
	font-size:15px !important;
	color:#00A1D7;
	display: inline;
}
h5
{
}
h6
{
}
li
{
	list-style-type:none;
	margin:0;
	padding:0;
}
/* - - - - - - - - - - - - - - - -  - - - - - - - - - - */
/* - - - - - - - - - - -CLASSE HTML - - - - - - - - - - */
.backgroundLoginForm
{
	margin-top:60px;
	background:#D7D7D7;
	box-shadow: 5px 5px 3px #AAAAAA;
}
.BtnAdmin-Style
{
	margin-top:5px;
	border: 3px solid #007BA4;
	text-align:center;
	height:80px;
	color:#007BA4 !important;
	transition: background 0.7s ease, color 0.7s ease;
}
.BtnAdmin-Style:hover
{
	background: #DADADA;
	color:#1A4857 !important;
	border: 3px solid #1A4857;
	transition: background 0.7s ease, color 0.7s ease;
}
.BtnAdmin-Style-ligne
{
	margin-right:5px;
}
.BtnLigneBordure
{
	margin-left:3px;
}
.buttonChoixListe
{
	margin:5px;
	font-size:30px;
	color: #1A4857;
}
.buttonChoixListeDiv
{
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	margin-bottom:30px;
	margin-top:30px;
}
.BtnColonne
{
	height:426px;
	background:#1A4857;
	writing-mode: vertical-rl;
	text-orientation: upright;
	margin-left:3px;
	transition:background 0.3s;
}
.BtnColonne:hover
{
	 background:#0A3747;
}
.BtnGros
{
	height:283px;
	background:#004257;
	margin-right:10px;
	color:#ECECEC !important;
	transition:background 0.3s;
}
.BtnGros:hover
{
	background:#003247;
}
.BtnLigneGrande
{
	margin-top:3px;
	height:140px;
	background:#007BA4;
	transition:background 0.3s;
}
.BtnLigneGrande:hover
{
	background:#006B94;
}
.BtnLignePetit
{
	margin-left:3px;
	height:140px;
}
.BtnLignePetit1
{
	margin-left:3px;
	background:#00A1D7;
	transition:background 0.3s;
}
.BtnLignePetit1:hover
{
	background:#0091C7;
}
.BtnLignePetit2
{
	margin-left:3px;
	margin-top:3px;
	background:#42B7DE;
	transition:background 0.3s;
}
.BtnLignePetit2:hover
{
	background:#32A7CE;
}
.card-listeMachine
{
	height:auto;
	background:#E1E1E1 !important;
}
.card-ajout-listeMachine
{
	border:5px solid #42B7DE;
}
.card-button-listeMachine
{
	position:absolute;
	bottom:2%;
	left:2%;
}
.card-body-listeMachine
{
	border-top:1px solid #999999;
	position:absolute;
	bottom:0px;
	height:219px;
}
.card-img-listeMachine
{
	text-align:center;
}
.card-text-listeMachine
{
	position:absolute;
	left:2%;
	top:65px;
	height:100px;
 	overflow: hidden;
  	text-overflow: ellipsis; 
	
}
.card-title-listeMachine
{
	text-align:center;
	position:absolute;
	left:2%;
	top:2%;
	width:96%;
	height:60px;
}
.card-listMaintenance
{
	height:50px;
	background:#E1E1E1 !important;
	border:1px solid #A9A9A9;
}
.card-img-listMaintenance
{
	height:40px;
	width:40px;
}
.card-text-listMaintenance
{
	position:absolute;
	top:0;
	left:55px;
	height:100%;
 	overflow: hidden;
  	text-overflow: ellipsis; 
}
.divText
{
	position: relative;
	top:40%;
    transform: translateY(-40%);
}
.elemListeUser
{
	color:#00A1D7;
	display: inline-block;
}
.flashmessage
{
	text-align:center;
}
.formPart
{
	margin-top:10px;
}
.iconMenuLien
{
	float:right;
	margin-right:10px;
	margin-top:5px;
	font-size:24px;
	color:#007BA4;
}
.listeBoutons
{
	border:solid 2px #00A1D7;
	height:28px;
}
.listeUser
{
	height:32px;
	border: 2px solid #00A1D7;
	margin-top:3px;
	border-radius:6px;
	transition: background 1s ease, border 1s ease;
}
.listeUser:hover
{
	background:#DBDBDB;
	border: 2px solid #007BA4;
	transition: background 1s ease, border 1s ease;
}
.logoLogout
{
	color:#ECECEC;
	top:9px;
	position:absolute;
	margin-top:9px;
	font-size:40px;
	right:-40px;
	transition:transform 1.1s, right 1.1s, color 0.6s;
}
.logoLogout:hover
{
	color:#DEDEDE;
}
.logoMenu
{
	position:absolute;
	right:10px;
	margin-top:20px;
	color:#ECECEC;
	transition: transform 1.1s, right 1.1s, color 0.6s;
}
.logoMenu:hover
{
	color:#DEDEDE;
}
.logoSettings
{
	color:#ECECEC;
	top:9px;
	position:absolute;
	margin-top:9px;
	font-size:40px;
	right:-40px;
	transition: transform 1.1s, right 1.1s, color 0.6s;
}
.logoSettings:hover
{
	color:#DEDEDE;
}
.menu
{
	width:100%;
	height:80px;
	background: linear-gradient(#00A1D7, #42B7DE);
}
.menuLien
{
	transition: color 1.6s;
	z-index: -1;
}
.menuLienEntier
{
	z-index: 0;
}
.TitlePage
{
	margin-top:30px;
	text-align:center;
}
.textButtonCenter
{
	position: absolute; /* postulat de départ */
	top: 50%; left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
	color:#ECECEC;
	font-size:22px !important;
}
.titreBoutons
{
	text-align:center;
	top:30%;
	border-bottom: 1px solid #AAAAAA;
}
.titreFormulaire
{
	border-bottom: 1px solid #AAAAAA;
}
.userEmail
{
	float:right;
	margin-right:10px;
	color:#007BA4;
}
.userLogo
{
	margin-left:5px;
	color: #1A4857;

}
.userName
{
	font-weight:bold;
	margin-left:10px;
	color:#007BA4;
}
.userSurname
{
	margin-left:3px;
	color: #00A1D7;
}
/*- = - = - = - = - = - = - = R E S P O N S I V E = - = - = - = - = - = -*/
@media(max-width: 767px)
{
	.BtnColonne
	{
		height:80px;
		writing-mode:  horizontal-tb;
		margin-left:0;
	}
	.BtnLigneGrande, .BtnLignePetit
	{
		height:80px;
	}
	.BtnGros
	{
		height:80px;
	}
	.textButtonCenter
	{
		position:relative;
		text-align:center;
	}
}
/*- = - = - = - = - = - = - = B O R D U R E S = - = - = - = - = - = - = -*/
/* .BorderJaune
{
	border: 2px solid #DFDF0C;
}
.BorderRouge
{
	border: 2px solid #FF0000;
}
.BorderBleu
{
	border: 2px solid #0FC7C7;
}
.BorderGris
{
	border: 2px solid #666666; 
}
.BorderGrisClair
{
	border: 2px solid #A6A6A6;
}
.BorderBleuFonce
{
	border: 2px solid #4896F5;
}
.BorderViolet
{
	border: 2px solid #660066;
}
.BorderVert
{
	border: 2px solid #228D0F;
} */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - -*/