.tabStyle {
border:medium solid deepskyblue;
border-collapse:collapse;
width:100%;
text-align:center;
}

.selCal:hover {
	background-color: #e7e7e7; 
	color: deepskyblue;
}

.selCal{
	background:deepskyblue;
	color: white;
}

th, td {
	padding:4px;
}

.caseStyle{
	border:medium solid #e7e7e7;
}

.dayStyle{
	background-color: deepskyblue; color: white;
}

.dayStyle2{
	 border: solid deepskyblue;
	 color: deepskyblue;
	 border-width : 2px 0px 0px 0px; 
}

.eventStyle{
	border: medium solid deepskyblue;
	color: deepskyblue;

}
.tabEventStyle{
	border: medium solid deepskyblue;
	border-collapse:collapse;
	color: deepskyblue;
}

.caseStyle:hover{
background:deepskyblue;
}

.rowtitle {
background: #9CF;
font-weight:bold;
}

.eventSyle{
	position: absolute;
	top: 0;
	right:0;
}

.acces3D:hover{
	background:deepskyblue;
	color: white;
}
