{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
	<div class="row AdminRow2">
    	<div class="col-12 offset-md-3 col-md-6 AdminRow1 TitlePage">	
			<h1>Edition Utilisateur {{ user.Nom }}</h1>
		</div>
	</div>
	<div class="row">
	
	</div>
{% endblock %}
