<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		<div class="menu">
    		<h1>TEST</h1>
    	</div>
    	ff
        {% block body %}

        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
